.ConversationList__wrapper {
    width: 20%;
    margin-right: 15px;
}

.Chat__user {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

.Conversation__active.collection-item {
    background-color: #424242 !important;
    color: #e0e0e0 !important;
}

.Conversation {
    height: 50px;
    padding: 3px 10px !important;
    border: none !important;
    background-color: #e0e0e0 !important;
    color: #424242 !important;
}

.Conversation:hover {
    background-color: #424242 !important;
    color: #e0e0e0 !important;
    cursor: pointer;
}

.nav-wrapper {
    margin-left: 25px;
    margin-top: 10px;
}

.ConversationList {
    border: none;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100% - 64px);
}

.Conversation__field {
    flex: 1;
}

.Chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 15px) !important;
}

.Chat__messages {
    flex: 1;
    overflow: auto;
}

.Chat__top-bar {
    width: 100%;
    height: 30px;
    color: white;
}

.Chat__input-container {
    display: flex;
    width: 100%;
    padding: 10px;
}

.Chat__send-btn {
    margin-left: 12px;
}

.Chat__close {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
    cursor: pointer;
}

.Chat__close:hover {
    color: lightgrey;
}

.Chat__msg-send {
    min-height: 25px;
    margin-left: 225px;
    width: 60%;
    border-radius: 5px;
    padding: 2px;
}

.Chat__msg-receive {
    min-height: 25px;
    width: 60%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 2px;
}

.Chat__input {
    flex: 1;
    border: 1px solid #616161 !important;
    margin: 0 !important;
    height: auto !important;
}

html, body, #root, .Wrapper {
    height: 100%;
}

.Chat__Responder-Name {
    margin-left: 10px;
    margin-top: 5px;
}